

/* Nav */
nav{
    padding: 2rem 0;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .hero{
    font-size: 1.5rem;
}

nav .theme-switcher{
    cursor: pointer;
    display: flex;
}

nav .theme-switcher svg{
    margin-right: 10px;
}

nav .theme-switcher .theme-indicator{
    font-size: 0.97rem;
}
/* Nav end */


/* Cards */
.cards .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-top: 3.5rem;
    column-gap: 3rem;
    row-gap: 5rem;
}

.cards .container .card{
    max-width: 260px;
    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr;
    row-gap: 1rem;
}

.cards .container .card-image{
    height: 145px;
}

.cards .container .card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .card-description{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.card .card-description .title{
    font-size: 1.15rem;
}

.card .card-description .subtitle{
    margin-top: 1.5rem;
}

.card .card-description .subtitle p{
    margin: 0.35rem 0 0;
}
/* Cards end */



/* Filter */
.control-bar .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem auto;
}

.control-bar .container .search-bar{
    display: flex;
    padding: 1rem;
    align-items: center;
}

.control-bar .container .search-bar svg{
    margin-left: 10px;
}

.control-bar .container .search-bar input{
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 0.25rem 13rem 0.25rem 1.5rem;
}

.control-bar .container .dropdown{
    position: relative;
}

.control-bar .container .dropdown .dropdown-button{
    display: flex;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    align-items: center;
}

.control-bar .container .dropdown .dropdown-button svg{
    margin-left: 30px;
    transform: scale(.85);
}

.control-bar .container .dropdown .dropdown-list{
    position: absolute;
    margin-top: 0.5rem;
    width: 100%;
}
.control-bar .container .dropdown .dropdown-list .dropdown-item{
    transition: 0.3s;
    cursor: pointer;
    padding: 0.85rem 0rem 0.58rem 2rem;
}
/* Filter end*/



/* card-detail */
.card-detail .button-back{
    margin: 3.5rem 0;
    width: fit-content;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.card-detail .button-back svg{
    margin-right: 0.85rem;
}

.card-detail .container .details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
}

.card-detail .container .details .flag{
    max-width: 38rem;
    min-width: 23rem;
    width: 55vw;
}

.card-detail .container .details .flag img{
    width: 100%;
}


.card-detail .container .details .descriptions{
    display: grid;
    column-gap: 1.5rem;
}

.card-detail .container .details .descriptions .title{
    font-size: 2rem; 
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 3rem 0 0;
    align-self: center;
}


.card-detail .container .left, 
.card-detail .container .right{
    padding-top: 2rem;
}

.card-detail .container .left p,
.card-detail .container .right p{
    font-weight: 600;
    padding: 0 0 1rem;
}

.card-detail .container .left p span,
.card-detail .container .right p span{
    font-weight: 300;
}

.card-detail p,
.card-detail span{
    text-transform: capitalize;
}

.card-detail .container .details .descriptions .borders{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card-detail .container .details .descriptions .borders p.semi-bold{
    padding: 0.5rem 0 0;
}

.card-detail .container .details .descriptions .borders .button-border{
    margin-left: 1rem;
    margin-bottom: 0.85rem;
    padding: 0.5rem 1.5rem;
    font-size: 0.85rem;
}

/* card-detail end */




.text-onload{
    font-size: 1.15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





@media (max-width: 1024px){
    .cards .container{
        grid-template-columns: repeat(3, 1fr);
    }

    .card-detail .container .details{
        grid-template-columns: 1fr;
    }

    .card-detail .container .left{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .card-detail .container .borders{
        margin-top: 1rem;
    }
}

@media (max-width: 768px){
    nav{
        padding: 2.5rem 0;
    }

    nav .hero{
        font-size: 1.3rem;
    }

    .control-bar .container{
        align-items: flex-start;
        flex-direction: column;
    }

    .control-bar .container .search-bar input{
        padding: 0 5rem 0 1.5rem;
    }
    
    .control-bar .container .dropdown{
        margin-top: 1rem;
    }
    .cards .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px){
    .control-bar .container .search-bar input{
        font-size: 0.75rem;
        padding: 0 3rem 0 1.5rem;
    }
    .cards .container{
        grid-template-columns:  1fr;
        justify-items: start;
    }
}

