/* @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
    background-position: -45rem -40rem, 11.5rem 15rem;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.f-700{
    font-weight: 700;
}

.text-black{
    color: hsl(229, 23%, 23%);
}
.text-grey{
    color: hsl(227, 10%, 46%);
}

.card-container{
    background-color: white;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    min-width: 330px;
    min-height: 375px;
    box-shadow: 1px 1px 1rem hsl(185deg 74% 31%);
}

.card-container .card-header{
    background-image: url('./images/bg-pattern-card.svg');
    background-repeat: no-repeat;
}

.card-container .card-header .card-tag{
    margin-top: 1.45rem;
    text-align: center;
}

.card-container .card-header .card-tag span{
    margin: 0.35rem;
    font-size: large;
}


.card-container .card-header .card-tag p{
    margin: 0.85rem 0 1rem;
    font-size: small;
}

.card-container .card-header .card-profile{
    text-align: center;
}

.card-container .card-header .card-profile img{
    margin: 92.5px 0 0;
    border-radius: 50%;
    width: 93px;
    height: 93px;
    border: solid white 0.35rem;
    background-color: white;
}


.card-container .card-footer{
    border-top: 1px solid hsl(0, 0%, 69%);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1.5rem 0.85rem;
}

.card-container .card-footer div h4{
    margin: 0.5rem 0;
    font-size: large;
}

.card-container .card-footer div p{
    font-size: xx-small;
    letter-spacing: 2px;
    margin-top: 0.5rem;
}

.attribution{
    position: absolute;
    bottom: 1rem;
}

@media(min-width: 1024px){
    body{
        background-position: -18.5rem -30rem, 42rem 24rem;
    }

}
